body {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    min-height: 70px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

h1 {
    color: rgb(248, 243, 245)
}

h2 {
    color: rgb(230, 78, 103);
}

.nav-link {
    font-family: cursive;
    text-decoration: none;
    color: black;
    padding: 20px;
}

nav a:hover {
    color: pink;
}

.cuerpo {
    width: 100vw;
    /*ancho de pantalla*/
    /*height: 100vw;alto de pantalla*/
    height: 1000px;
}

.container {
    background-image: url(media/hero.jpg);
    background-position: center;
    background-size: cover;
    height: 30%;
    color: white;
    padding: 5%;
    font-size: 30px;
    text-align: center;
}

.boton {
    background-color: rgb(204, 63, 110);
    color: white;
    padding: 10PX 30PX;
}

.boton:hover {
    background-color: rgb(49, 32, 122);
}

@media (max-width: 600px) {
    .header {
        flex-direction: column;
    }
}

em {
    color: rgb(190, 29, 56);
}

.container1 {
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 30%;
}

.divimagencont1 {
    display: flex;
    justify-content: center;
    height: 100%;
    width: auto;
    border-top: 10px;
    padding: 10px;
}

.imagencont1 {
    height: 95%;
    width: auto;
    margin: opx;
}
.textocont1 {
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 50%;
}

.textocont1 p {
    font-size: 12px;
    padding: 5% 23% 10% 23%;

}

.textocont1 h1 {
    padding: 6% 23% 1% 23%;

}


.container2 {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 45%;
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
    /*padding: 150px 12px;*/
    border-radius: 5px;
}

.textoNuestrosProgramas {
    color: white;
    font-size: 40px;

}

.boton-card {
    width: 50%;
    margin: 0 auto;
}

.tarjetas {
    display: flex;
    height: 80%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3px;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 27%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    background-color: gray;
}

.card img {
    position: absolute;
    width: 100%;
    top: 0px;
    z-index: 1;
    height: 40%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card h3 {
    position: absolute;
    top: 50px;
    z-index: 2;
    left: 20%;
}

.card p {
    position: absolute;
    top: 150px;
}

.card button {
    position: absolute;
    bottom: 20px;
    left: 25%;
}

.container3 {
    display: flex;
position: relative;
    margin: 50px auto;
    height: 30%;

}

.lista ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
}
.lista{
    display: flex;
    width:50%;
    height: 100%;
    padding: 0;
    margin: 0;
    
    justify-content:center;
    position: absolute;
    left: 0;
    top: 0;
}
.lista li:before {
    content: '';
    width: 15px;
    height: 15px;
    display: inline-block;
    background-size: 15px;
    background-image: url(media/check.png);
    background-repeat: no-repeat;
    margin-right: 5px;
}
.container3I{
    display: flex;
    width:50%;
    height: 100%;
    padding: 0;
    margin: 0;
    
    justify-content:center;
    position: absolute;
    right: 0;
    top: 0;
}
.imagencont3 {
    height: 100%;
    width: auto;
    margin: opx;
}

footer {
    height: 30%;
    background-color: rgb(230, 70, 96);
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
}


